.home-container {
  width: 100%;
  height: 60vh;
}
.home {
  background-color: black;

  min-height: 100vh;
  max-height: 100%;
  width: 100%;
}

.home-container img {
  width: 100%;
  height: auto;
  max-height: 100vh;
}

.thumbnail-description {
  width: 30%;
  margin-left: 25px;
  padding-top: 45px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 0px;
}
.logo-container img {
  width: 45px;
  height: auto;
}
.logo-container h3 {
  color: white;
  margin: 0;
  text-align: center;
  /* padding-left: 10px; */
}

.main-title {
  padding: 0;
  align-items: center;
  width: 100%;
  /* margin-top: 20px; */
  margin-top: -14px;
}

.main-title h1 {
  color: white;
  font-size: 65px;
  /* text-align: center; */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  line-height: 65px;
}

.main-title h4 {
  color: white;
  font-size: 20px;
  /* font-family: "Lato", sans-serif; */
  font-family: "lato";
}
.button-component {
  display: flex;
}
.card-component {
  display: flex;
  gap: 5px;
  margin-top: 20px;
  /* padding-top: 10px; */
}

.card-container {
  padding-left: 25px;
}

.card-container-title h3 {
  margin: 0;
  padding-top: 10px;
  color: #fff;
}
