.button-container button {
  padding: 95px, 95px;
  border-radius: 8px;
  color: black;
  /* font-weight: bold; */
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
