.moviedetails-container {
    background-color: #000;
    display:flex;
    height: 100vh;
    width: 100%;
    position:relative;
    
}
.movie-poster {
    width:40%;
    
}
.movie-poster img {    
    width:100%;
    height:100%;
}

.moviesdetails-info {
    display:flex;
    flex-direction: column;  
    width: 60% ; 
    padding: 0px 20px 0px 80px;
}
.moviename-rating {
    display: flex;
    color:#fff;
    justify-content: space-between;
    font-size:200%;
    font-weight:500;
}
.rating-star {
    font-size:150% !important;
    font-weight:300 !important;
}

.rating-star span {
    color:yellow !important;
}

.moviedetails-time ul {
    display: flex;
    gap: 10px;
    color:slategrey;

}


.detailnavbar-menus {
    text-decoration: none;
    list-style: none;
    color:darkgray;
    font-weight: 600;
    font-size: 120%;
    display: flex;
    justify-content: space-between;
}

.detailnavbar-menus li {
    cursor: pointer;
}
.detailnavbar-menus li:hover {
    color:#fff;
    border-bottom: solid 5px red;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #686262;
    margin: 1em 0;
    padding: 0;
}


.moviedetails-time li {
    list-style: none;
    text-decoration: none;
    color:darkgrey;
}

.movie-related {
    color:#fff;
}

.movieintroduction {
    color:#fff;
}

.movieintroduction li {
    text-decoration: none;
    list-style: none;
}

.moviedetails-previous {
   display:flex;
   flex-direction: row !important;
   /* justify-content: space-between; */
   gap:25px;
   position:absolute;
   bottom:0;
        
}


