.movie-cards {
  margin-right: 0px;
  width: 250px;
  /* height: 200px; */
}

.image-card img {
  position: absolute;
}

.movie-name {
  color: #fff;
}

.movie-name p {
  font-size: 20px;
  position: relative;
  bottom: 55px;

  left: 5px;
}
